<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>twitter counter API</title>
    <link rel="stylesheet" href="dist/vue-calendar-heatmap.css"/>
    <script src="dist/vue-calendar-heatmap.browser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <main>
      <section>
    <div id="app" style="width:100%">
      <select
          v-model="selected"
          @change="handleSelect"
      >
        <option
            v-for="(endpoint,apiName) in apis"
            :key="apiName"
            :value="endpoint"
        >
          {{ apiName }}
        </option>
      </select>
      <div>
        <calendar-heatmap
            :values="fetchedData.data"
            :end-date="new Date()"
            :range-color="rangeColor"
            @day-click="handleDayClick"
        />
      </div>
      <div>
        <ul>
          <li>検索クエリ: <output>{{ query }}</output></li>
          <li>総数: {{ total }}</li>
        </ul>
      </div>
    </div>
      </section>
      <section>
        <p>
          <h2>これは何</h2>
          <ul>
            <li>
              twitter上でのシコツイートを検索・日次集計して可視化します。
            </li>
            <li>
              30分ごとに検索・集計を行います。
            </li>
            <li>
              ヒートマップ上の正方形は1日を、色の濃淡がシコの多寡を表します。
            </li>
            <li>
              ヒートマップ上の正方形をクリックすると、その日のシコツイートの検索画面を開きます。
            </li>
            <li>
              ヒートマップの下に検索クエリが表示されます。
            </li>
          </ul>
        </p>
        <p>
          <h2>制限</h2>
          ツイートの検索には
          <a href="https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-recent" target="_blank">
            Twitter API v2 の GET /2/tweets/search/recent
          </a>
          を使用しており、本API由来の制限があります:
          <ul>
            <li>
              APIの検索結果とブラウザ上での検索結果が完全には一致しません。キャラ名がひらがなの場合が顕著です。
            </li>
            <li>
              直近7日間のツイートしか取得できないため、昔のデータは取得できません。<br/>
              また、8日以上たってからのツイ消しやアカウント公開/非公開切替えも反映されません。
            </li>
          </ul>
        </p>
      </section>
      <hr />
      <footer>
        <h3>ソースとか</h3>
        <ul>
          <li><a href="https://github.com/wand2016/twitter-counter-api-frontend" target="_blank">このページのソース</a></li>
          <li><a href="https://github.com/wand2016/twitter-counter-api-generator" target="_blank">検索・集計バックエンド、インフラ</a></li>
          <li><a href="https://github.com/wand2016/twitter-counter-api-generator-deploy-pipeline" target="_blank">ビルドパイプライン</a></li>
        </ul>
      </footer>
    </main>

    <script>
     Vue.use(VueCalendarHeatmap)

     const app = new Vue({
         el: '#app',
         data: {
             apis: {
                 'シャロシコ': 'syaroshico.json',
                 'リゼシコ': 'rizeshico.json',
                 'シココア': 'cocoshico.json',
                 'チヤシコ': 'chiyashico.json',
                 'チノシコ': 'chinoshico.json',
                 'シャミシコ': 'syamishico.json',
                 'ぴのシコ': 'pinoshico.json',
                 'ぽぽシコ': 'poposhico.json',
                 'しこにっき': 'shico-diary.json',
                 'あひごち': 'ahigochi.json',
             },
             selected: 'syaroshico.json',
             fetchedData: {
                 data: [],
                 _embedded: {}
             }
         },
         mounted() {
             this.handleSelect();
         },
         computed: {
             rangeColor() {
                 if (this.selected === 'syaroshico.json') {
                     return ['#EBEDF0','#FFF7CC','#FFEE99','#FFE666','#FFDD33','#FFD500',];
                 }
                 if (this.selected === 'rizeshico.json') {
                     return ['#EBEDF0', '#DDCCFF', '#BB99FF','#9966FF','#7733FF','#5500FF',]
                 }
                 if (this.selected === 'cocoshico.json') {
                     return ['#EBEDF0', '#FFE6F7','#FFCCEE','#FFB3E6','#FF99DD','#FF80D5', ]
                 }
                 if (this.selected === 'syamishico.json') {
                     return ['#EBEDF0', '#FFE6EA','#FFCCD5','#FFB3BF','#FF99AA','#FF8095',];
                 }
                 if (this.selected === 'chinoshico.json') {
                     return ['#EBEDF0', '#CCEEFF','#99DDFF','#66CCFF','#33BBFF','#00AAFF',]
                 }
                 if (this.selected === 'chiyashico.json') {
                     return ['#EBEDF0', '#1EB300','#1A9900','#158000','#116600','#0D4D00',]
                 }
                 return ['ebedf0', 'dae2ef', '#c0ddf9', '#73b3f3', '#3886e1', '#17459e'];
             },
             query() {
                 return this.fetchedData._embedded.query;
             },
             total() {
                 return this.fetchedData.data
                            .map((datum) =>  datum.count)
                            .reduce((acc, e) => acc + e)
             },
         },
         methods: {
             handleSelect() {
                 const endpoint = "https://twitter-counter-api.s3-ap-northeast-1.amazonaws.com/" + this.selected;

                 const xhr = new XMLHttpRequest();
                 xhr.open('GET', endpoint);
                 xhr.onload = () => {
                     this.fetchedData = JSON.parse(xhr.responseText);
                 }
                 xhr.send();
             },
             handleDayClick(day) {

                 const date = day.date
                 const since = 'since:'
                             + date.getFullYear() + '-'
                             + (date.getMonth() + 1) + '-'
                             + date.getDate() + '_00:00:00_JST';
                 const until = 'until:'
                             + date.getFullYear() + '-'
                             + (date.getMonth() + 1) + '-'
                             + date.getDate() + '_23:59:59_JST';

                 const query = [
                     this.query,
                     since,
                     until
                 ].join(' ');

                 const href = 'https://twitter.com/search?q=' + encodeURIComponent(query);

                 window.open(href, 'shico');
             }
         }
     })
    </script>
  </body>
</html>
